@font-face {
    font-family: "Aktiv Grotesk";
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: url("../font/AktivGrotesk-Light.woff") format("woff");
}

@font-face {
    font-family: "Aktiv Grotesk";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url("../font/AktivGrotesk-Regular.woff") format("woff");
}

@font-face {
    font-family: "Aktiv Grotesk";
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    src: url("../font/AktivGrotesk-Medium.woff") format("woff");
}

@font-face {
    font-family: "Aktiv Grotesk";
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url("../font/AktivGrotesk-Bold.woff") format("woff");
}

@font-face {
    font-family: "Dripversity";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url("../font/Dripversity-Regular.woff2") format("woff2"),
        url("../font/Dripversity-Regular.woff") format("woff"),
        url("../font/Dripversity-Regular.otf") format("otf");
}

