@font-face {
    font-family: "Milliard";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url("../font/Milliard-Light.woff") format("woff");
}

@font-face {
    font-family: "Milliard";
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    src: url("../font/Milliard-Medium.woff") format("woff");
}

@font-face {
    font-family: "Milliard";
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url("../font/Milliard-Bold.woff") format("woff");
}

@font-face {
    font-family: "Milliard";
    font-weight: 800;
    font-display: swap;
    font-style: normal;
    src: url("../font/Milliard-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Dripversity";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url("../font/Dripversity-Regular.woff2") format("woff2"),
        url("../font/Dripversity-Regular.woff") format("woff"),
        url("../font/Dripversity-Regular.otf") format("otf");
}

