@font-face {
    font-family: "General";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url("../font/GeneralSans-Regular.woff2") format("woff2");
}


@font-face {
    font-family: "General";
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: url("../font/GeneralSans-Light.woff2") format("woff2");
}

@font-face {
    font-family: "General";
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    src: url("../font/GeneralSans-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "General";
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url("../font/GeneralSans-Semibold.woff2") format("woff2");
}




